body {
    background-color: #F7DCE4;
    font-family: Avenir;
}

img {
    width: 100%;
}

#splash {
    background-size: cover;
}


.navbar-brand {
    width: 150px;
}

.splash_logo {
    width: 50%;
}

.some {
    width: 35px;
}

.footer_logo {
    width: 60%;
}



#infografik {
    background-color: rgba(255, 255, 255, 0.39);
    background-size: cover;
    background-position: 50% 100%;
    background-attachment: fixed;
    background-image: url(infografik/mark.jpg);
    /*    background-blend-mode: overlay;*/
}


h1 {
    font-size: 4rem;
}


#infografik h3 {
    font-size: 2.5rem;
}

#infografik h2 {
    font-size: 5rem;
}



#happy {
    background-color: rgba(255, 255, 255, 0.39);
    background-size: cover;
    background-position: 50% 100%;
    background-attachment: fixed;
    background-image: url(billeder/happy_girl.jpg);
    /*    background-blend-mode: overlay;*/
}
