* {
    box-sizing: border-box;
}


html,
body {
    background-color: #F7DCE4;
    font-family: Avenir;
    scroll-behavior: smooth;
}



img {
    width: 100%;
}

#splash {
    height: 100vh;
}

.navbar-brand {
    width: 150px;

}

.splash_logo {
    width: 50%;
}

.some {
    width: 35px;
}



#footer p {
    font-size: 0.6rem;
}

.citat h1 {
    font-size: 3rem;
}


* {
    box-sizing: border-box;
}


html,
body {
    background-color: #F7DCE4;
    font-family: Avenir;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

#splash {
    background-size: cover;
}

.navbar-brand {
    width: 150px;


}

nav {
    font-size: 1.2rem;
}

.splash_logo {
    width: 50%;
}

.some {
    width: 35px;
}

.footer_logo {
    width: 60%;
}



button {
    color: #FFA7C1;
    border-color: #FFA7C1;
    font-family: Avenir;
    padding: 10px 20px 10px 20px;

}

button:hover {
    opacity: 50%;
}


#storytelling img {
    margin-bottom: 80px;


}

#friskenyheder h2 {
    margin-top: 80px;
}


#produkt2 img {
    margin-bottom: 80px;


}


#godstartpaadagen h2 {
    margin-top: 80px;


}

#godstartpaadagen button {
    margin-bottom: 80px;


}

#yogaevent h2 {
    margin-top: 80px;


}

#yogaevent button {
    margin-bottom: 80px;


}



#socialemedier img {
    margin-bottom: 80px;


}

#spisloes h1 {
    margin-bottom: 100px;
    margin-top: 100px;



}




/***** roter animationer på splash ****/

#splash .rotate_01 {
    position: relative;
    top: 10%;
    right: 15%;
    width: 50px;
    height: 50px;
    margin: -60px 0 0 100px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#splash .rotate_02 {
    position: relative;
    top: -50%;
    right: 45%;
    width: 150px;
    height: 150px;
    margin: -60px 0 0 10px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#splash .rotate_03 {
    position: relative;
    top: 20%;
    right: -50%;
    width: 100px;
    height: 100px;
    margin: -60px 0 0 10px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#splash .rotate_04 {
    position: relative;
    top: 5%;
    left: 15%;
    width: 50px;
    height: 50px;
    margin: -60px 0 0 10px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#splash .rotate_05 {
    position: relative;
    top: -50%;
    left: 20%;
    width: 50px;
    height: 50px;
    margin: -60px 0 0 10px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}


#splash .rotate_06 {
    position: relative;
    top: -45%;
    left: -20%;
    width: 50px;
    height: 50px;
    margin: -60px 0 0 10px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#splash .rotate_07 {
    position: relative;
    top: -1%;
    left: 0%;
    width: 40px;
    height: 40px;
    margin: -60px 0 0 10px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}


@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}




/***** SLUT roter animationer på splash SLUT ****/

/***** GENERELLE TEKST INDSTILLINGER ****/

#splash h1 {
    font-size: 3rem;
    top: 50%;
    right: 50%;

}

#splash h2 {
    font-size: 1.5rem;

}


p {
    font-size: 1.2rem;
}


#infografik h3 {
    font-size: 2.5rem;
}

#infografik h2 {
    font-size: 5rem;
}


/***** GENERELLE TEKST INDSTILLINGER SLUT ****/





/***** PRODUKTER ****/
#produkt1 img {
    width: 80%;
    padding-left: 100px;
}


#produkt2 img {
    width: 80%;
    padding-left: 100px;


}


/***** PRODUKTER SLUT ****/



/***** BACKGROUND FIXED BILLEDER ****/


#happy {
    /*    background-color: rgba(255, 255, 255, 0.39);*/
    background-size: cover;
    background-position: 50% 100%;

    background-attachment: fixed;
    background-image: url(billeder/happy_girl.jpg);

    /*    background-blend-mode: overlay;*/
}

#infografik {
    background-color: rgba(255, 255, 255, 0.39);
    background-size: cover;
    background-position: 50% 100%;
    background-attachment: fixed;
    background-image: url(infografik/mark.jpg);
    /*    background-blend-mode: overlay;*/
}



#yoga {
    background-size: cover;
    background-position: 50% 100%;
    background-attachment: fixed;
    background-image: url(billeder/yoga_stilling.jpg);


}

/***** BACKGROUND FIXED BILLEDER SLUT ****/





/***** MEDIA QUERIES IPAD ****/






@media only screen and (min-width: 768px) {

    .citat h1 {
        font-size: 4rem;
    }


    #spisloes h1 {
        font-size: 4rem;


    }

    #footer p {
        font-size: 0.8rem;
    }

}


@media only screen and (min-width: 1024px) {

    h1 {
        font-size: 3rem;
    }


    p {
        font-size: 1.2rem;
    }


}

#infografik {
    background-color: rgba(255, 255, 255, 0.39);
    background-size: cover;
    background-position: 50% 100%;
    background-attachment: fixed;
    background-image: url(infografik/mark.jpg);
    /*    background-blend-mode: overlay;*/
}



#infografik h3 {
    font-size: 2.5rem;
}

#infografik h2 {
    font-size: 5rem;
}


#happy {
    /*    background-color: rgba(255, 255, 255, 0.39);*/
    background-size: cover;
    background-position: 50% 100%;

    background-attachment: fixed;
    background-image: url(billeder/happy_girl.jpg);

    /*    background-blend-mode: overlay;*/
}



#yoga {
    background-size: cover;
    background-position: 50% 100%;
    background-attachment: fixed;
    background-image: url(billeder/yoga_stilling.jpg);

    /*    background-blend-mode: overlay;*/
}



@media only screen and (min-width: 768px) {
    /***** roter animationer på splash ****/

    #splash .rotate_01 {
        position: relative;
        top: 10%;
        right: 1%;
        width: 80px;
        height: 80px;
        margin: -60px 0 0 100px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    #splash .rotate_02 {
        position: relative;
        top: -30%;
        right: 5%;
        width: 150px;
        height: 150px;
        margin: -60px 0 0 10px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    #splash .rotate_03 {
        position: relative;
        top: 20%;
        right: -10%;
        width: 140px;
        height: 140px;
        margin: -60px 0 0 10px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    #splash .rotate_04 {
        position: relative;
        top: 5%;
        left: 15%;
        width: 50px;
        height: 50px;
        margin: -60px 0 0 10px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    #splash .rotate_05 {
        position: relative;
        top: -30%;
        left: -2%;
        width: 50px;
        height: 50px;
        margin: -60px 0 0 10px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }


    #splash .rotate_06 {
        position: relative;
        top: -45%;
        left: -20%;
        width: 50px;
        height: 50px;
        margin: -60px 0 0 10px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    #splash .rotate_07 {
        position: relative;
        top: 10%;
        left: -30%;
        width: 40px;
        height: 40px;
        margin: -60px 0 0 10px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }


    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @-moz-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }



    /***** SLUT roter animationer på splash SLUT ****/

}

/***** MEDIA QUERIES IPAD SLUT ****/



/***** MEDIA QUERIES WEB ****/

@media only screen and (min-width: 1024px) {
    .citat h1 {
        font-size: 5rem;
    }


    #storytelling img {
        width: 80%;
    }

    /***** roter animationer på splash ****/

    #splash .rotate_01 {
        position: relative;
        top: 25%;
        right: 40%;
        width: 80px;
        height: 80px;
        margin: -60px 0 0 0px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    #splash .rotate_02 {
        position: relative;
        top: -40%;
        right: 55%;
        width: 180px;
        height: 180px;
        margin: -60px 0 0 0px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    #splash .rotate_03 {
        position: relative;
        top: 5%;
        right: -15%;
        width: 100px;
        height: 100px;
        margin: -60px 0 0 0px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    #splash .rotate_04 {
        position: relative;
        top: 30%;
        left: -20%;
        width: 50px;
        height: 50px;
        margin: -60px 0 0 0px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    #splash .rotate_05 {
        position: relative;
        top: -40%;
        left: -2%;
        width: 80px;
        height: 80px;
        margin: -60px 0 0 0px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }


    #splash .rotate_06 {
        position: relative;
        top: -45%;
        left: -30%;
        width: 50px;
        height: 50px;
        margin: -60px 0 0 0px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    #splash .rotate_07 {
        position: relative;
        top: 20%;
        left: -15%;
        width: 40px;
        height: 40px;
        margin: -60px 0 0 0px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }


    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @-moz-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    /***** SLUT roter animationer på splash SLUT ****/


    #splash h1 {
        font-size: 5rem;
    }

    #splash h2 {
        font-size: 2rem;
    }


    #produkt1 img {
        width: 80%;
        padding-left: 100px;
    }


    #produkt2 img {
        width: 80%;
        padding-left: 100px;


    }

    #produkt1 p {
        padding-right: 100px;

    }

    #produkt1 h2 {
        padding-top: 250px;

    }

    #produkt2 p {
        padding-left: 100px;

    }


    #produkt2 h2 {
        padding-top: 250px;
        padding-left: 100px;

    }

    #storytelling h2 {
        padding-left: 100px;
        padding-top: 80px;

    }

    #storytelling p {

        padding-left: 100px;

    }



}

/***** MEDIA QUERIES WEB SLUT ****/
