* {
    box-sizing: border-box;
}


html,
body {
    background-color: #F7DCE4;
    font-family: Avenir;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}


#splash {
    height: 100vh;
}


.splash_logo {
    width: 60%;
}


#splash h1 {
    margin-top: 100px;
    font-size: 1rem;
    z-index: 1000;
}



.navbar-brand {
    width: 180px;
}

.navbar-toggler-icon {
    width: 2em;
    height: 2em;

}





nav {
    font-size: 1.2rem;
}

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;

}

.splash_logo {
    width: 50%;
}

.some {
    width: 35px;
}

.footer_logo {
    width: 60%;
}


#footer_indhold p {
    font-size: 0.8rem;
}


#footer_indhold h3 {
    font-size: 1rem;
    /* margin-left: 50px;*/
}

.form-control {
    /*    margin-left: 50px;*/

    width: 60%;
}



.citat h1 {
    font-size: 3rem;
}

#infografik h2 {
    font-size: 3rem;
    text-align: center;
}


button {
    color: #FFA7C1;
    border-color: #FFA7C1;
    font-family: Avenir;
    padding: 10px 20px 10px 20px;

}

button:hover {
    opacity: 50%;
}


#storytelling img {
    margin-bottom: 80px;


}

#friskenyheder h2 {
    margin-top: 80px;
}


#produkt2 img {
    margin-bottom: 80px;


}


#godstartpaadagen h2 {
    margin-top: 80px;


}

#godstartpaadagen button {
    margin-bottom: 80px;


}

#yogaevent h2 {
    margin-top: 80px;


}

#yogaevent button {
    margin-bottom: 80px;


}



#socialemedier img {
    margin-bottom: 40px;


}

#spisloes h1 {
    margin-bottom: 100px;
    margin-top: 100px;



}





/***** GENERELLE TEKST INDSTILLINGER ****/

#splash h1 {
    font-size: 2rem;
    margin-top: 190px;

}

#splash h2 {
    font-size: 0.8rem;
    z-index: 1000;

}


p {
    font-size: 1.2rem;
}

.navbar-nav .nav-link {
    padding-left: 20px;

}

.navbar-light .navbar-toggler {
    color: white;
    border: none;
}

/***** GENERELLE TEKST INDSTILLINGER SLUT ****/


/***** BOUNCE animationer væk på splash ****/

.row {
    flex-shrink: none;
}

#splash .bounce_01 {
    position: absolute;
    top: 10%;
    right: 85%;
    width: 100px;
    height: 100px;
}


#splash .bounce_02 {
    position: absolute;
    top: 40%;
    right: 55%;
    width: 250px;
    height: 250px;
}


#splash .bounce_03 {
    position: absolute;
    top: 45%;
    right: 10%;
    width: 100px;
    height: 100px;
}



#splash .bounce_04 {
    position: absolute;
    top: 10%;
    left: 80%;
    width: 60px;
    height: 60px;

}


#splash .bounce_05 {
    position: absolute;
    top: 70%;
    left: 60%;
    width: 100px;
    height: 100px;

}


#splash .bounce_06 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 60px;
    height: 60px;
}

#splash .bounce_07 {
    position: absolute;
    top: 75%;
    left: 20%;
    width: 60px;
    height: 60px;




}


/***** BOUNCE animationer væk på splash SLUT ****/








/***** PRODUKTER ****/
#produkt1 img {
    width: 80%;
    padding-left: 100px;
}


#produkt2 img {
    width: 80%;
    padding-left: 100px;


}


/***** PRODUKTER SLUT ****/



/***** BACKGROUND FIXED BILLEDER ****/


#happy {
    /*    background-color: rgba(255, 255, 255, 0.39);*/
    background-size: cover;
    background-position: 50% 100%;

    background-attachment: fixed;
    background-image: url(billeder/happy_girl.jpg);

    /*    background-blend-mode: overlay;*/
}

#infografik {
    background-color: rgba(255, 255, 255, 0.39);
    background-size: cover;
    background-position: 50% 100%;
    background-attachment: fixed;
    background-image: url(infografik/mark.jpg);
    /*    background-blend-mode: overlay;*/
}



#yoga {
    background-size: cover;
    background-position: 50% 100%;
    background-attachment: fixed;
    background-image: url(billeder/yogaretreat.png);


}

/***** BACKGROUND FIXED BILLEDER SLUT ****/





/***** MEDIA QUERIES IPAD ****/






@media only screen and (min-width: 768px) {


    #splash h1 {
        font-size: 3rem;
        margin-top: 250px;

    }

    #splash h2 {
        font-size: 1rem;


    }


    .citat h1 {
        font-size: 4rem;
    }


    #infografik h2 {
        font-size: 4rem;
        text-align: start;
    }



    #spisloes h1 {
        font-size: 4rem;


    }


    #friskenyheder p {
        margin-left: 200px;
        margin-right: 200px;
    }

    #yogaevent p {
        margin-left: 200px;
        margin-right: 200px;
    }



    #produkt1 p {
        padding-right: 60px;

    }

    #produkt1 h2 {
        padding-top: 50px;

    }

    #produkt2 p {
        padding-left: 60px;

    }


    #produkt2 h2 {
        padding-top: 50px;
        padding-left: 60px;

    }




}


@media only screen and (min-width: 1024px) {

    h1 {
        font-size: 3rem;
    }


    p {
        font-size: 1.2rem;
    }

    #friskenyheder p {
        margin-left: 330px;
        margin-right: 330px;
    }

    #yogaevent p {
        margin-left: 330px;
        margin-right: 330px;
    }



    #infografik h3 {
        font-size: 2.5rem;
    }

    #infografik h2 {
        font-size: 5rem;
    }


}


/***** MEDIA QUERIES IPAD SLUT ****/



/***** MEDIA QUERIES WEB ****/

@media only screen and (min-width: 1024px) {
    .citat h1 {
        font-size: 5rem;
    }


    #storytelling img {
        width: 80%;
    }

    /***** BOUNCE animationer på splash ****/

    #splash .bounce_01 {
        position: absolute;
        top: 20%;
        right: 10%;
        width: 180px;
        height: 180px;
        margin: -60px 0 0 0px;
        animation: bounce 2s infinite;
        animation-delay: .3s;

    }

    #splash .bounce_02 {
        position: absolute;
        top: 20%;
        right: 75%;
        width: 300px;
        height: 300px;
        margin: -60px 0 0 0px;
        animation: bounce 2s infinite;
        animation-delay: .6s;
    }

    #splash .bounce_03 {
        position: absolute;
        top: 90%;
        right: 35%;
        width: 120px;
        height: 120px;
        margin: -60px 0 0 0px;
        animation: bounce 2s infinite;
        animation-delay: .9s;

    }

    #splash .bounce_04 {
        position: absolute;
        top: 75%;
        left: 20%;
        width: 90px;
        height: 90px;
        margin: -60px 0 0 0px;
        animation: bounce 2s infinite;
        animation-delay: .12s;

    }

    #splash .bounce_05 {
        position: absolute;
        top: 70%;
        left: 80%;
        width: 80px;
        height: 80px;
        margin: -60px 0 0 0px;
        animation: bounce 2s infinite;
        animation-delay: .18s;

    }


    #splash .bounce_06 {
        position: absolute;
        top: 25%;
        left: 30%;
        width: 50px;
        height: 50px;
        margin: -60px 0 0 0px;
        animation: bounce 2s infinite;
        animation-delay: .24s;

    }

    #splash .bounce_07 {
        position: absolute;
        top: 90%;
        left: 89%;
        width: 60px;
        height: 60px;
        margin: -60px 0 0 0px;
        animation: bounce 2s infinite;
        animation-delay: .32s;

    }


    @keyframes bounce {

        0%,
        20%,
        60%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-30px);
        }

        80% {
            transform: translateY(-20px);
        }
    }

    /***** SLUT BOUNCE animationer på splash SLUT ****/


    #splash h1 {
        font-size: 5rem;
        margin-top: 200px;
        margin-right: 280px;
        margin-left: 280px;


    }

    #splash h2 {
        font-size: 1.6rem;


    }



    #produkt1 img {
        width: 80%;
        padding-left: 100px;
    }


    #produkt2 img {
        width: 80%;
        padding-left: 100px;


    }

    #produkt1 p {
        padding-right: 100px;

    }

    #produkt1 h2 {
        padding-top: 250px;

    }

    #produkt2 p {
        padding-left: 100px;

    }


    #produkt2 h2 {
        padding-top: 250px;
        padding-left: 100px;

    }

    #storytelling h2 {
        padding-left: 100px;
        padding-top: 80px;

    }

    #storytelling p {

        padding-left: 100px;

    }



}

/***** MEDIA QUERIES WEB SLUT ****/
